<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Entries</title>
</head>
<body>
  <h1>All Entries</h1>
  <form method="post" action="#submit">
    <label for="titleid">Title: </label>
    <input type="text" placeholder="Enter Title" id="titleid" name="title">

    <label for="decid">Description: </label>
    <input type="text" placeholder="Enter Description" id="decid" name="description">

    <input type="submit" value="Submit Form">
  </form>
  <ul>
    {% for x in all_records %}
      <li>
        <div>
          id:{{x.id}}, title: {{x.title}}, desc: {{x.description}}
          <button><a href="/update/{{x.id}}">Update</a></button>
          <button><a href="/delete/{{x.id}}">Delete</a></button>
        </div>
        
      </li>
    {% endfor %}
  </ul>
</body>
</html>